<div class="ow_svideo ow_automargin ow_stdmargin">

    {form name='video-settings'}
        <table class="ow_table_1 ow_form">
            <tr class="ow_alt2 ow_tr_first">
                <td class="ow_label">{label name='video'}</td>
                <td class="ow_value">{input name='video'} <br /> {error name='video'}</td>
            </tr>
            <tr class="ow_alt2 ow_tr_first">
                <td class="ow_label">{label name='title'}</td>
                <td class="ow_value">{input name='title'} <br /> {error name='title'}</td>
            </tr>
            <tr class="ow_alt2 ow_tr_first">
                <td class="ow_label">{label name='description'}</td>
                <td class="ow_value">{input name='description'} <br /> {error name='description'}</td>
            </tr>
        </table>
        <div class="clearfix ow_stdmargin"><div class="ow_right">{submit name='save' class='ow_ic_add ow_positive'}</div></div>
    {/form}
</div>